.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 300px;
    margin: 10px;
    background-color: skyblue;
    border-radius: 5px;
}
.profile img {
    width: 125px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.profile h1 {
    font-size: 24px;
    text-decoration: double;
}