.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: auto;
    margin: 10px;
    background-color: skyblue;
    border-radius: 5px;
}
.profile img {
    width: 250px;
    margin-top: 10px;
    border-radius: 5px;
}
.profile h1 {
    font-size: 24px;
    text-decoration: double;
}